h1, h2, h4, small, .ham-menu, .long-form a, .dropdown-content a,
.container > .footer > p
 { color: #121212; }

h5, h6, .code-logo, .code-text, .zoom, .card__face, .card__face--back
 { color: #F5F5F5; }

.container > .header, .dropdown-content, .dropdown-content a:hover, .container > .footer,
#divider1, #divider2, #divider3
 { background-color: #F5F5F5; }

.container > .header { border-bottom: 0.5px solid #121212; }

.container > .footer { border-top: 1px solid #121212; }

#large-grid > div.mask, #small-grid > div.mask { background-color:#40434e40; }

#large-grid > div.fill, #small-grid > div.fill { background-color:#fac200; }

#section1 { background-color: #A71313; }

#section2 { background-color: #dea327; }

#section3 { background-color: #2052ad; }