/* Colours */
/* Prussian Blue: #0B3C5D */
/* Sky Blue:      #328CC1 */
/* Gold Leaf:     #D9B310 */
/* Ivory Black:   #1D2731 */

h1, h2, h4, h5, h6, small, .ham-menu, .card__face, .long-form a, .dropdown-content a,
.container > .footer > p, .card__face--back
 { color: #F5F5F5; }

.code-logo, .code-text, .zoom
 { color: #1D2731; }

.container > .header, .dropdown-content, .dropdown-content a:hover, .container > .footer,
#divider1, #divider2, #divider3
 { background-color: #1D2731; }

.container > .header { border-bottom: 0.5px solid #F5F5F5; }

.container > .footer { border-top: 1px solid #F5F5F5; }

#large-grid > div.mask, #small-grid > div.mask { background-color:#40434e40; }

#large-grid > div.fill, #small-grid > div.fill { background-color:#D9B310; }

#section1 { background-color: #0B3C5D; }

#section2 { background-color: #D9B310; }

#section3 { background-color: #328CC1; }
